// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Основа
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1;
    min-height: 100vh;
}

// dashboard.blade.php
.square {
    width: 100%;
    height: 350px;
    max-height: 350px;
    border: 1px gray solid;
    border-radius: 6px;
}

.row-height {
    height: 100%;
}
